@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --main-color: #bc9667;
  --second-color: #edeae3;
  --text-color: #1b1b1b;
  --bg-color: #fff;
  --box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);
}

section {
  padding: 50px 100px;
}

.footer {
  padding: 50px 100px;
}

img {
  width: 100%;
}

body {
  color: var(--text-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 100px;
  transition: 0.5s linear;
}

header.shadow {
  background: var(--text-color);
  box-shadow: var(--box-shadow);
}

.header-icons {
  position: relative;
}

.cart-count {
  position: absolute;
  font-size: 12px;
  text-align: center;
  width: 20px;
  height: 20px;
  font-weight: 700;
  top: -2px;
  left: -20px;
  background: red;
  color: var(--bg-color);
  border-radius: 50%;
  opacity: 0;
}

.cart-count.active {
  opacity: 1;
}

.logo img {
  width: 60px;
}

.navbar {
  display: flex;
}

.navbar a {
  padding: 8px 17px;
  color: var(--bg-color);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar a:hover {
  background: var(--main-color);
  border-radius: 0.2rem;
  transition: 0.2s all linear;
}

.header-icon {
  font-size: 22px;
  cursor: pointer;
  z-index: 11;
  display: flex;
  column-gap: 0.8rem;
  color: var(--bg-color);
}

.header-icon:not(:last-child) {
  margin-right: 20px;
}

.header-icon:hover {
  color: var(--main-color);
}

/* @media (hover:hover) {
  .header-icon:hover {
    color: var(--main-color);
  }
}

@media (hover:none) {
  .header-icon:active {
    color: var(--main-color);
  }
} */

#menu-icon {
  color: var(--bg-color);
  font-size: 24px;
  z-index: 12;
  cursor: pointer;
  display: none;
}

#menu-icon:hover {
  color: var(--main-color);
}

.search-box {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--bg-color);
  width: 65%;
  margin: 0 auto;
  outline: 2px solid #917f7f;
  border-radius: 10px;
  overflow: hidden;
}

.search-box.active {
  top: 105%;
  box-shadow: var(--box-shadow);
  transition: 0.2s all linear;
}

.search-box input {
  padding: 20px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1rem;
  color: black;
}

.search-box input::placeholder {
  font-size: 1rem;
  font-weight: 500;
}

.home {
  width: 100%;
  min-height: 100vh;
  background: url(./images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  align-items: center;
  gap: 1.5rem;
}

.img-cup {
  width: 40%;
  height: 60%;
}

@media screen and (min-width: 630px) {
  .img-cup {
    width: 50%;
  }
}

.home-text {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.home-text h1 {
  font-size: 1.4rem;
  text-align: center;
  color: var(--main-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media screen and (min-width: 720px) {
  .home-text h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1080px) {
  .home-text h1 {
    font-size: 3.4rem;
  }
}

.home-text p {
  font-size: 0.8rem;
  color: var(--bg-color);
  margin: 0.5rem 0 1.4rem;
}

@media screen and (min-width: 720px) {
  .home-text p {
    font-size: 1rem;
  }
}

.home-img {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 10px 40px;
  border-radius: 0.3rem;
  background: var(--main-color);
  color: var(--bg-color);
  font-weight: 500;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.5s;
}

.btn:hover {
  background: #8a6f4d;
}

.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  align-items: center;
  gap: 1.5rem;
}

.about-img img {
  border-radius: 0.5rem;
}

.about-text h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .about-text h2 {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1080px) {
  .about-text h2 {
    font-size: 1.8rem;
  }
}

.about-text p {
  font-size: 0.938rem;
  margin: 0.5rem 0 1.1rem;
}

.heading {
  text-align: center;
}

.heading h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

@media screen and (min-width: 720px) {
  .heading h2 {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1080px) {
  .heading h2 {
    font-size: 1.8rem;
  }
}

.products-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 20px;
}

@media screen and (min-width: 480px) {
  .products-container {
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  }
}

.products-container .box {
  width: 100%;
  max-width: 350px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  transition: transform 0.2s ease-in-out;
  padding: 20px;
  margin: 0 auto;
}

.products-container .box:hover {
  transform: scale(1.05);
}

.products-container img {
  width: 100%;
  padding: 10px;
  height: 350px;
}

.products-container .box h3 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin: 1.5rem 0 1.5rem;
}

.products-container .box span {
  padding: 0 1rem;
  color: var(--bg-color);
  background: var(--main-color);
  border-radius: 4px;
  font-weight: 500;
}

.products-container .box button {
  padding: 1px 10px;
  color: var(--text-color);
  border: 2px solid var(--main-color);
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  margin-left: 40px;
}

@media screen and (min-width: 480px) {
  .products-container .box button {
    margin-left: 120px;
  }
}

.products-container .box button:hover {
  background: var(--main-color);
  color: var(--bg-color);
  transition: 0.2s all linear;
}

.customer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 1.5rem;
  margin-top: 2rem;
}

.customer-container .box {
  padding: 20px;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  text-align: center;
}

.stars {
  color: var(--main-color);
}

.customer-container .box p {
  font-size: 0.938rem;
}

.customer-container .box h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.5rem 0 0.5rem;
}

.customer-container .box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.customer-container .box:hover {
  background: var(--second-color);
  transition: 0.2s all linear;
}

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 1.5rem;
  background: url('./images/footer_bg.jpg');
  color: var(--bg-color);
}

@media screen and (min-width: 480px) {
  .footer {
    background: var(--bg-color);
    color: var(--text-color);
  }
}

.footer-box h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-box h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-box p {
  font-size: 0.938rem;
  margin-bottom: 10px;
}

.social {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.social button {
  border: none;
  cursor: pointer;
}

.social button i {
  font-size: 24px;
  color: var(--text-color);
  padding: 10px;
  background: var(--second-color);
  border-radius: 0.2rem;
  transition: 0.5s;
}

.social button i:hover {
  background: var(--main-color);
  color: var(--bg-color);
}

.footer-list li {
  color: var(--bg-color-color);
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .footer-list li {
    color: var(--text-color);
  }
}

.footer-list li:hover {
  color: var(--main-color);
}

.contact {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.contact-link a {
  color: var(--bg-color);
}

@media screen and (min-width: 480px) {
  .contact-link a {
    color: var(--text-color);
  }
}

.contact-link a:hover {
  color: var(--main-color);
}

.contact i {
  font-size: 20px;
  margin-right: 1rem;
}

.copyright {
  padding: 20px;
  text-align: center;
  background: var(--second-color);
}

@media (max-width: 1058px) {
  header {
    padding: 16px 60px;
  }

  section {
    padding: 50px 60px;
  }

  .footer {
    padding: 50px 60px;
  }
}

@media (max-width: 991px) {
  header {
    padding: 16px 4%;
  }

  section {
    padding: 50px 4%;
  }

  .footer {
    padding: 50px 4%;
  }
}

@media (max-width: 768px) {
  header {
    padding: 12px 4%;
  }

  #menu-icon {
    display: initial;
  }

  .navbar {
    position: absolute;
    top: -570px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--second-color);
    row-gap: 1.4rem;
    padding: 20px;
    transition: 0.3s;
    text-align: center;
  }

  .navbar a {
    color: var(--text-color);
  }

  .navbar a:hover {
    color: var(--bg-color);
  }

  .navbar.active {
    top: 100%;
  }

  .about {
    align-items: center;
  }
}

@media (max-width: 360px) {
  header {
    padding: 11px 4%;
  }

  .logo img {
    width: 45px;
  }

  .about-img {
    order: 2;
  }
}

/* ================== */
.cart-overlay {
  position: fixed;
  top: 90px;
  right: 0;
  bottom: 0;
  width: 360px;
  background: #292859;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 20;
  padding: 20px 10px;
}

@media screen and (min-width: 480px) {
  .cart-overlay {
    width: 420px;
  }
}

.cart-overlay.active {
  display: flex;
  flex-direction: column;
}

.cart {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 95%;
  height: 100%;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: auto;
}

.cart::-webkit-scrollbar {
  width: 0;
}

.products_box {
  padding: 3px;
  outline: 1px solid var(--text-color);
  border-radius: 6px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.products_box:hover {
  background: var(--second-color);
}

.products_box:not(:last-child) {
  margin-bottom: 10px;
}

.cart-title {
  margin-bottom: 10px;
  color: var(--bg-color);
}

.total-box {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  background-color: #fff;
  margin: 10px 0px;
  padding: 10px;
}

.total-box.active {
  display: flex;
}



.total_btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.total_btns button {
  border: none;
  cursor: pointer;
  width: 50%;
  padding: 5px 10px;
}

.total-btn {
  background: #292859;
  transition: 0.3s;
}

.total-btn:hover {
  background: #202ddf;
}

.remove-all_btn {
  margin-left: 10px;
  background: rgb(238, 92, 116);
}

.remove-all_btn:hover {
  background: rgb(250, 40, 75);
}

.total-box h3 {
  text-align: center;
}

.total-box h4 {
  color: green;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.cart button {
  border: none;
  margin-top: auto;
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 3px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: var(--bg-color);
  transition: 0.5s;
}

.close-button:hover {
  color: var(--main-color);
  transform: scale(1.02);
}

.cart_products {
  position: relative;
  display: flex;
  width: 220px;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--main-color);
  border-radius: 4px;
  padding: 5px 10px;
  box-shadow: var(--box-shadow);
}

.cart_products:not(:last-child) {
  margin-bottom: 10px;
}


.product_price {
  display: inline-block;
  width: 40px;
  height: 25px;
  border-radius: 50%;
  background: rgb(6, 186, 57);
  color: var(--bg-color);
  font-weight: 600;
  text-align: center;
  font-size: 16px;
}

.cart-image {
  width: 70%;
  display: flex;
  align-items: center;
}

.cart-image h4 {
  margin-left: 10px;
  font-size: 13px;
}

.product-descr {
  display: flex;
  flex-direction: column;
}

.item-price {
  color: #e9370b;
  font-size: 18px;
  font-weight: 600;
  margin-right: 10px;
  margin-left: 10px;
}

.cart-image img {
  width: 80px;
  height: 80px;
}

.plus,
.minus {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: grey;
  color: var(--bg-color);
  transition: 0.5s;
}

.plus:hover {
  background-color: rgb(18, 226, 63);
}

.minus:hover {
  background-color: rgb(252, 114, 137);
}

.cart-quantity {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: green;
}

/*  Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.modal-overlay.active {
  display: flex;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.last-window {
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.my_order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.my_order li {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #292859;
}

.my_order li span {
  color: #cc230d;
}

@media screen and (min-width: 480px) {
  .my_order li {
    font-size: 20px;
  }
}

.last-window h2 {
  margin: 20px 0px;
  text-align: center;
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #fff8f8;
}

.modal-title {
  font-size: 16px;
  margin: 30px 0px;
}

@media screen and (min-width: 480px) {
  .modal-title {
    font-size: 22px;
  }
}

.spinner {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #ffffff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*  Modal */

/* Payment */

.payment {
  background-color: white;
  margin: auto;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}

.input-box {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-box span {
  position: absolute;
  color: red;
  top: 40px;
  right: 0;
  font-size: 14px;
}

@media screen and (min-width: 480px) {
  .input-box span {
    right: 15px;
    font-size: 16px;
  }
}

.input-box span i {
  color: green;
}

.payTitle {
  font-size: 20px;
  color: lightgray;
}

label {
  font-size: 14px;
  font-weight: 300;
}

.payInput {
  padding: 10px;
  margin: 10px 0px;
  border: none;
  border-bottom: 1px solid gray;
}

.payInput:focus,
.payInput:hover {
  outline: none;
  border-bottom: 2px solid rgb(14, 148, 59);
}

.payInput::placeholder {
  color: rgb(163, 163, 163);
}


.cardIcons {
  display: flex;
}

.cardIcon {
  margin-right: 10px;
  width: 40px;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
}

.cardInfo span {
  color: red;
}

.card-input {
  position: relative;
}

.card-input input {
  width: 80%;
}

.card-input span {
  position: absolute;
  top: 55px;
  right: 20px;
  font-size: 12px;
  font-weight: 600;
}

@media screen and (min-width: 720px) {
  .card-input span {
    top: 15px;
    right: 15px;
    font-size: 16px;
  }
}

.card-input span i {
  color: green;
}

.cardNumber-box {
  position: relative;
}

.cardNumber-box span {
  color: red;
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 14px;
  font-weight: 600;
}

@media screen and (min-width: 480px) {
  .cardNumber-box span {
    right: 15px;
    font-size: 16px;
  }
}

.cardNumber-box span i {
  color: green;

}

#cardNumber {
  width: 100%;
}

.sm {
  width: 30%;
}

.payButton {
  height: 40px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  background-color: #369e62;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 35px;
  transition: 0.5s;
}

@media screen and (min-width: 720px) {
  .payButton {
    margin-top: 20px;
  }
}

.payButton:hover {
  background-color: #08662f;
}

.disabled {
  background-color: #475761;
  opacity: 0.7;
}

.disabled:hover {
  background-color: #475761;
  cursor: auto;
}